{% load static %}
	<!-- footer section -->
		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 align-self-center">
						<div class="footer-text1">©2019  —  <span class="InstaTools"> <b>InstaTools.io</b> </span></div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-end align-self-center footer-name">
						<ul class="footer-list">
							<li>
								<a href="#">Terms of Service</a>
							</li>
							<li>
								<a href="#">Privacy Policy</a>
							</li>
							<li>
								<a href="{% url 'contact_us' %}">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>

