{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="login-section py-5">
      <h1 class="text-center py-5 mb-5">
        Change Password
      </h1>

      <div class="login-form">
        <div class="login-form-bg">
          {% if messages %}
            {% for msg in messages %}
              {{msg}}
            {% endfor %}
          {% endif %}
          <form action="{% url 'recover_password' %}" method="post" onsubmit="return matchForgotPassword();">
            {% csrf_token %}
            <fieldset class="formRow mb-2">
              <div class="formRow--item">
                <label for="code" class="formRow--input-wrapper js-inputWrapper">
                  <input type="text" class="formRow--input js-input" id="code" name="code" placeholder="Enter Your code">
                </label>
              </div>
            </fieldset>
             <fieldset class="formRow mb-2">
              <div class="formRow--item">
                <label for="password" class="formRow--input-wrapper js-inputWrapper">
                  <input type="password" class="formRow--input js-input" id="password" placeholder="New password" name="password" required minlength="8">
                </label>
      
              </div>
            </fieldset>
            <fieldset class="formRow mb-2">
              <div class="formRow--item">
                <label for="cpass" class="formRow--input-wrapper js-inputWrapper">
                  <input type="password" class="formRow--input js-input" id="conf_pass" placeholder="Confirm password" name="cpass">
                </label>
              </div>
            </fieldset>
            <p id='forgot_mismatch' style="display: none;" style="color: red;">Password does not match, Try again.</p>
            <button type="submit" class="btn btn-default btn-block login-btn my-3">SUBMIT</button>
          </form>
        </div>
      </div>
    </section>
{% endblock %}